@import "./reset/reset";
@import "./variables/var";

body {
  font-family: $font-roboto;
  font-weight: normal;
  background-color: var(--body-bg-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-rubik;
}

// main-container----------

.main-content {
  margin-left: $sidebar-width;
  min-height: calc(100vh - $header-height);
  height: 100%;
  padding: 20px;
  border: 1px solid red;
  transition: margin 200ms ease-in;
}

.main-content.main-content-collapsed {
  margin-left: $sidebar-min-width !important;
}
