// fonts ----------
$font-roboto: "Roboto", sans-serif;
$font-rubik: "Rubik", sans-serif;

$font-size-m: 16px;
$font-size-l: 24px;

// header-sizes ----------
$header-height: 75px;

// sidebar-sizes ----------
$sidebar-width: 320px;
$sidebar-min-width: 150px;

// box-shadow ----------
$box-shadow: 1px 5px 15px -1px rgba(141, 141, 141, 0.1);

// color-all
$color-all: rgba(71, 147, 255, 1);

// DARK-LIGHT ----------

$body-bg-dark: rgb(28, 33, 56);
// $body-bg-dark: rgba(15, 19, 30, 0.8);
$body-bg-light: #fff;

$card-bg-dark: #2e3035;
$card-bg-light: rgba(71, 147, 255, 0.2);

$header-bg-dark: rgb(34, 37, 47, 0.8);
$header-bg-light: rgba(245, 249, 255, 0.8);

$sidebar-bg-dark: rgb(34, 37, 47);
$sidebar-bg-light: rgb(241, 241, 241);

$text-primary-color-dark: rgb(241, 247, 255);
$text-primary-color-light: rgb(4, 92, 159);

$text-secondary-color-dark: #fff;
$text-secondary-color-light: #000;

$hover-app-link-bg-dark: #1c6a6a;
$hover-app-link-bg-light: rgba(82, 83, 85, 0.1);

:root {
  // background-body
  --body-bg-dark: #{$body-bg-dark};
  --body-bg-light: #{$body-bg-light};
  --body-bg-default: var(--body-bg-light);

  // -------------

  // background-header
  --header-bg-dark: #{$header-bg-dark};
  --header-bg-light: #{$header-bg-light};
  --header-bg-default: var(--header-bg-light);

  // -------------

  // background-card
  --card-bg-dark: #{$card-bg-dark};
  --card-bg-light: #{$card-bg-light};
  --card-bg-default: var(--card-bg-light);

  // -------------

  // background-sidebar
  --sidebar-bg-dark: #{$sidebar-bg-dark};
  --sidebar-bg-light: #{$sidebar-bg-light};
  --sidebar-bg-default: var(--sidebar-bg-light);

  // -------------

  // color-primary
  --text-primary-color-dark: #{$text-primary-color-dark};
  --text-primary-color-light: #{$text-primary-color-light};
  --text-primary-color-default: var(--text-primary-color-light);

  // -------------

  // color-secondary
  --text-secondary-color-dark: #{$text-secondary-color-dark};
  --text-secondary-color-light: #{$text-secondary-color-light};
  --text-secondary-color-default: var(--text-secondary-color-light);

  // -------------

  // hover-app-bg
  --hover-app-link-bg-dark: #{$hover-app-link-bg-dark};
  --hover-app-link-bg-light: #{$hover-app-link-bg-light};
  --hover-app-link-bg-default: var(--hover-app-link-bg-light);
}
