@import "@app/styles/variables/var.scss";

.sidebar {
  position: fixed;
  top: $header-height;
  left: 0px;
  bottom: 0px;
  width: $sidebar-width;
  padding: 20px;
  overflow: auto;

  background-color: var(--sidebar-bg-default);

  transition: width 200ms ease-in;
}

.sidebarCollapsed {
  width: $sidebar-min-width !important;
}
